/* Ensure the body takes up the full height */
body {
  margin: 0;
}
.content {
  /* position: relative; */
  min-height: 100%;
}
.animationDiv {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}