<div class="content" allow="microphone">
    <div>      
      <audio id="audioPlayer" autoplay controls hidden></audio>
      <div class="animationDiv">        
         <img src="../assets/images/Speak to Elizabeth_web.gif" alt="" />  
        <!-- <img src="../assets/images/Speak to Melody_web.gif" alt="" />          -->
       <!--    <img src="../assets/images/speak_to_legate_alice_web.gif" alt="" />     -->
       <!--  <img src="../assets/images/speak_to_uam_uvc_sofia_web.gif" alt="" />   -->
         
         
      </div>         
    </div>
  </div>